body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}
header, main, footer {
    align-items: stretch;
    justify-content: center;
    min-width: 100vh;
}
header {
    position: sticky;
    top:  0px;
    background-color: aqua;
    display: flex;
}
main {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    grid-auto-rows: 250px;
    gap: 50px;
}
.hasRead {
    background-color: lightgreen;
}
.hasNotRead {
    background-color: lightsalmon;
}
#book {
    border: 5px;
    border-style: solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow: auto; /* 1. overflow not `visible` */

}
#button {
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
#isRead, #edit {
    background-color:antiquewhite;
    width: 150px;
    border-radius: 25px;
}
#title {
    font-size: 25px;
}
footer {
    display: flex;
    background-color: aqua;
    height: 2.5rem; 
}